/home/.config/nvim/*
!/home/.config/nvim/init.lua
!/home/.config/nvim/lua
/home/.emacs.d/*
!/home/.emacs.d/init.el
!/home/.emacs.d/emacsrc
!/home/.emacs.d/etc/yasnippet/snippets
/home/.config/awesome/themes/default

