[Desktop Entry]
Type=Application
Name=Godot
Comment=Godot Game Engine
Icon=/home/bruno/Pictures/Imagens/Godot_icon.png
Terminal=false
Categories=Game;Code
